<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/images/favicon.png">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="../static/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">

      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#bbb:#bbb/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Search Places</h1>
              <div class="container">

                <form class="form-signin" action="/locationsearch" method="GET">
                  <!--<h2 class="form-signin-heading">Search Places</h2>-->
                  <input type="text" class="form-control" placeholder="Enter Place" name="prefix">
                  <!--<input type="password" class="form-control" placeholder="Password">-->
                  <!--<label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>-->
                    <button class="btn btn-lg btn-primary btn-block" type="submit" value="search">Go!</button>
                </form>

              </div> <!-- /container -->
              <p>You can enter cities like Baltimore, Chicago, Utah etc. Results will give you current trends about
              various things in that city. Happy exploring!</p>
              <!--<p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>-->
            </div>
          </div>
        </div>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="" alt="">
          <h2></h2></p>
          <!--<p><a class="btn btn-default" href="#"></a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="" alt="">
          <h2></h2></p>
          <!--<p><a class="btn btn-default" href="#"></a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="" data-src="" alt="">
          <h2></h2></p>
          <!--<p><a class="btn btn-default" href="#"></a></p>-->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted"></span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="" data-src="" alt=""> </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="" data-src="" alt=""></div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted"></span></h2>
          <p class="lead"></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted"></span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="" data-src="" alt="</div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <!--<p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>-->
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/holder.js"></script>
  </body>
</html>
